footer,
.header,
.bg {
  background-color: #F4F0EB;

}

.btn {
  background-color: #6219ff;
}



.line {
  border: 2px solid #6219ff;

}



.bhn,
.card,
.card-img-overlay {
  border-radius: 0;
  border: 0;
}